/*!
 {{ IMPORT: root, reboot }}
 */

.btn{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    gap: 0.5rem;
    height: 2.375rem;
    width: auto;
    background-color: transparent;
    color: var(--text-primary);
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-size: 0.9375rem;
    line-height: 1;
    font-weight: var(--font-medium);
    border: 0.0625rem solid transparent;
    border-radius: var(--border-radius, 6px);
    padding: 0 1rem;
    user-select: none;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    overflow: hidden;
}
.btn img, .btn svg{
    pointer-events: none;
}

.btn-reset{
    border: 0;
    height: auto;
    background-color: transparent;
    padding: 0;
}

.btn:not(.on-outline):focus{
    outline: 0;
    box-shadow: 0 0 0 0.125rem var(--background-color), 0 0 0 0.25rem var(--outline);
}

.btn:disabled{
    pointer-events: none;
    opacity: var(--disabled-opacity);
}

.btn.btn-block{
    width: 100%;
}

/*----- START::Image && Icon Button -----*/
.btn img{
    display: inline-block;
}

.btn-icon{
    width: 2.37500rem;
    padding: 0;
}
/*----- END::Image && Icon Button -----*/


/*----- START::Small Buttons -----*/
.btn-sm{
    height: 1.875rem;
    font-size: 0.875rem;
    line-height: 1.125;
}
.btn-icon.btn-sm{
    width: 1.875rem;
    padding: 0;
}
/*----- END::Small Buttons -----*/