/*!
 {{ IMPORT: root, reboot, buttons/buttons }}
 */
 
.btn-light{
    border-color: transparent;
    background-color: var(--light);
    color: var(--text-dark);
}

.btn-light:hover:not(:disabled), .btn-light:focus{
    background-color: var(--light-hover);
    border-color: var(--light-hover);
}

/*-- Outline --*/
.btn-light-outline{
    border-color: var(--light-hover);
    background-color: transparent;
    color: var(--text-dark);
}

.btn-light-outline:hover:not(:disabled), .btn-light-outline:focus{
    background: var(--light-hover);
}

/*-- Ghost --*/
.btn-light-ghost{
    border-color: transparent;
    background-color: transparent;
    color: var(--text-dark);
}

.btn-light-ghost:hover:not(:disabled), .btn-light-ghost:focus{
    border-color: transparent;
    background-color: var(--light-hover);
}

/* .btn-light:focus, .btn-light-outline:focus, .btn-light-ghost:focus{
    --outline: var(--light-hover);
} */