/*!
 {{ IMPORT: root, reboot, buttons/buttons }}
 */
 
.btn-primary{
    border-color: var(--primary);
    background-color: var(--primary);
    color: var(--text-primary-alt);
}

.btn-primary:hover:not(:disabled), .btn-primary:focus{
    background: var(--primary-hover);
    border-color: var(--primary-hover);
}

/*-- Outline --*/
.btn-primary-outline{
    border-color: var(--primary);
    background: transparent;
    color: var(--primary);
}

.btn-primary-outline:hover:not(:disabled), .btn-primary-outline:focus{
    background: var(--primary-lite-hover);
}

/*-- Ghost --*/
.btn-primary-ghost{
    border-color: transparent;
    background: transparent;
    color: var(--primary);
}

.btn-primary-ghost:hover:not(:disabled), .btn-primary-ghost:focus{
    border-color: transparent;
    background: var(--primary-lite-hover);
}

.btn-primary:focus, .btn-primary-outline:focus, .btn-primary-ghost:focus{
    --outline: var(--primary);
}