.table tr:first-child, .table th:first-child, .table td:first-child {
    padding-left: 0;
}

.table tr:last-child, .table th:last-child, .table td:last-child {
    padding-right: 0;
}

.table > thead {
    vertical-align: bottom;
}

