/*!
 {{ IMPORT: root, reboot }}
 */

.toastContainer{
    position: fixed;
    margin: 10px;
    min-width: 200px;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    z-index: var(--toast-zindex, 11);
}
.toastContainer[data-position^="top-"]{
    top: 0;
}
.toastContainer[data-position^="bottom-"]{
    bottom: 0;
}
.toastContainer[data-position$="-right"]{
    right: 0;
    align-items: flex-end;
}
.toastContainer[data-position$="-left"]{
    left: 0;
    align-items: flex-start;
}
.toastContainer[data-position$="-center"]{
    align-items: flex-start;
    left: 50%;
    transform: translateX(-50%);
}

.toast{
    transition: all 250ms ease;
    opacity: 0;
}
.toast.shown{
    opacity: 1;
}

.toastContainer[data-position$="-right"] .toast{
    transform: translateX(100%);
}
.toastContainer[data-position$="-right"] .toast.shown{
    transform: translateX(0);
}

.toastContainer[data-position$="-left"] .toast{
    transform: translateX(-100%);
}
.toastContainer[data-position$="-left"] .toast.shown{
    transform: translateX(0);
}

.toastContainer[data-position="top-center"] .toast{
    transform: translateY(-100%);
}
.toastContainer[data-position="top-center"] .toast.shown{
    transform: translateY(0);
}

.toastContainer[data-position="bottom-center"] .toast{
    transform: translateY(100%);
}
.toastContainer[data-position="bottom-center"] .toast.shown{
    transform: translateY(0);
}

.toast{
    display: flex;
    align-items: center;
    width: auto;
    padding: 0.75rem;
    background-color: var(--background-color);
    border: 1px solid rgb(0 0 0 / 10%);
    border-radius: var(--border-radius);
    box-shadow: 0 0.25rem 0.75rem rgb(0 0 0 / 10%);
    overflow: hidden;
}

.toast .toastContent{
    display: flex;
    align-items: center;
    flex-grow: 1;
}
.toastContent .icon{
    height: 28px;
    width: 28px;
}

.toastContent .textContent{
    display: flex;
    flex-direction: column;
    margin: 0 0.75rem;
}

.toastContent .title{
    font-size: 1rem;
    font-weight: 600;
}

.toast.hasTitle .message{
    font-size: 0.875rem;
    font-weight: 400;
}

.toastContent .message{
    font-size: 1rem;
}

.toastActions{
    display: flex;
    align-items: center;
    gap: 0.5rem;
    position: initial;
}

.toast button{
    border: 0;
    background-color: transparent;
    cursor: pointer;
    padding: 5px;
    font-size: 15px;
    font-weight: 500;
}

.toast .close{
    padding: 5px;
    line-height: 0;
}

.toast.hasTitle.hasMessage:not(.hasAction) .close{
    position: absolute;
    top: 0.3125rem;
    right: 0.3125rem;
}

.toast.hasTitle.hasMessage:not(.hasAction) .toastActions{
    padding: 0.4rem;
}

@media only screen and (max-width: 480px) {
    .toastContainer{
        margin: 10px 5px;
        width: calc(100% - 10px);
    }
    .toastContainer[data-mobile-position="top"]{
        top: 0;
        bottom: unset;
    }
    .toastContainer[data-mobile-position="bottom"]{
        top: unset;
        bottom: 0;
    }
}