.card {
    width: 100%;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border-radius: var(--border-radius);
    -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
    box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}

.card-header, .card-body, .card-footer{
    padding: 0.5rem 1rem;
    margin: 0;
}

.card-header{
    border-bottom: 1px solid var(--divider);
}

.card-footer{
    border-top: 1px solid var(--divider);
}

.card-body{
    flex: 1 1 auto;
}

.card-img, .card-img-bottom, .card-img-top {
    width: 100%;
}

.card-img, .card-img-top {
    border-top-left-radius: var(--border-radius);
    border-top-right-radius: var(--border-radius);
}

.card-img-bottom {
    border-bottom-left-radius: var(--border-radius);
    border-bottom-right-radius: var(--border-radius);
}