.input,
.select {
    width: 100%;
    background: #fff;
}

.input .input-wrapper,
.select .input-wrapper {
    border-radius: var(--border-radius, 6px);
    box-shadow: 0 0.05rem 0.1875rem rgb(0 0 0 / 10%);
    transition: 0.2s ease-in-out;
    line-height: 0;
}

.input:not(._focused) .input-wrapper:hover,
.select:not(._focused) .select-wrapper:hover {
    box-shadow: 0 0.09rem 0.3125rem rgb(0 0 0 / 16%);
}

.input .input-wrapper::after,
.select .input-wrapper::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: var(--border-radius, 6px);
    border: 0.09375rem solid var(--border-color);
    /* 1.5px */
    pointer-events: none;
    transition: 0.2s ease-in-out;
}

.input._focused .input-wrapper::after,
.select._focused .input-wrapper::after {
    border-width: 0.125rem;
    border-color: var(--primary);
}

/* Error And Success */
.input.valid input,
.input.invalid input,
.select.valid input,
.select.invalid input {
    background-position: right 0.56rem center;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

.input.valid input{
    padding-right: 2rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2300B74A' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
}

.input.invalid  input {
    padding-right: 2rem;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 12 12' width='12' height='12' fill='none' stroke='%23F93154'%3e%3ccircle cx='6' cy='6' r='4.5'/%3e%3cpath stroke-linejoin='round' d='M5.8 3.6h.4L6 6.5z'/%3e%3ccircle cx='6' cy='8.2' r='.6' fill='%23F93154' stroke='none'/%3e%3c/svg%3e");
    background-repeat: no-repeat;
}

._textarea.valid:not(.group) .input-wrapper,
._textarea.valid .input-wrapper>div,
._textarea.invalid:not(.group) .input-wrapper,
._textarea.invalid .input-wrapper>div {
    background-position: right 0.5rem top 0.5rem;
    background-size: calc(.75em + .375rem) calc(.75em + .375rem);
}

._textarea.valid:not(.group) .input-wrapper,
._textarea.valid .input-wrapper>div,
._textarea.invalid:not(.group) .input-wrapper,
._textarea.invalid .input-wrapper>div {
    padding-right: 0;
}

.input.valid .input-wrapper::after,
.select.valid .input-wrapper::after {
    border-color: var(--success);
}

.input.invalid .input-wrapper::after,
.select.invalid .input-wrapper::after {
    border-color: var(--danger);
}

.input.valid._focused .input-wrapper::after
.select.valid._focused .input-wrapper::after {
    border-color: var(--success);
}

.input.invalid._focused .input-wrapper::after,
.select.invalid._focused .input-wrapper::after {
    border-color: var(--danger);
}

/* Help Text */
.input .help,
.select .help {
    margin-top: 0.25rem;
    font-size: 0.8125rem;
    width: 100%;
    color: var(--text-dark);
}

.input.valid .help.on-valid,
.select.valid .help.on-valid {
    color: var(--success);
}

.input.invalid .help.on-invalid,
.select.invalid .help.on-invalid {
    color: var(--danger);
}

.input .help.on-invalid,
.input .help.on-valid,
.select .help.on-invalid,
.select .help.on-valid {
    display: none;
}

.input.invalid .help.on-invalid,
.input.valid .help.on-valid,
.select.invalid .help.on-invalid,
.select.valid .help.on-valid {
    display: block;
}